[package]
name = "vx-test-macros"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[lib]
proc-macro = true

[dependencies]
unsynn = "0.3"
quote = "1"
proc-macro2 = "1"
